<div class="row">
	<%= @posts.each do |post| %>
		<div class="columns small-12 medium-4">
			<div class="card">
				<%= image_tag post.image.url(:medium) %>
				<p><%= post.caption %></p>
			</div>
		</div>
	<% end %>
</div>


	

