// Place all the styles related to the posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#newPostBg{
  height: 100%;
  background-color: darken(#00ffff, 10%);
}

.posts-wrapper {
  padding-top: 40px;
  margin: 0 auto;
  max-width: 642px;
  width: 100%;
}

.post {
  background-color: #fff;
  border-color: #edeeee;
  border-style: solid;
  border-radius: 3px;
  border-width: 1px;
  margin-bottom: 60px;
  .post-body{
    padding: 1em;
    input{
      width: 100%;
    }
  }
  .post-head {
    flex-direction: row;
    height: 64px;
    padding-left: 24px;
    padding-right: 24px;
    padding-top: 24px;
    color: #125688;
    font-size: 15px;
    line-height: 18px;
    .user-name, .time-ago {
      display: inline;
    }
    .user-name {
      font-weight: 500;
    }
    .time-ago {
      color: #A5A7AA;
      float: right;
    }
  }
  .image {
    border-bottom: 1px solid #eeefef;
    border-top: 1px solid #eeefef;
  }
}

#image-preview {
  margin: 0px auto;
}

#post_image {
  padding: 1em;
  margin: 0px auto;
}

.post-footer {
  margin-bottom: 7px;
  padding-top: 24px;
  padding-left: 24px;
  padding-right: 24px;
  padding-bottom: 10px;
  font-size: 15px;
  line-height: 18px;
  .user-name, .comment-content {
    display: inline;
  }
  .caption {
    margin-bottom: 7px;
  }
  .user-name {
    font-weight: 500;
    margin-right: 0.3em;
    color: #125688;
    font-size: 15px;
  }
  .user-name, .caption-content {
    display: inline;
  }
}


#paginator {
  color: #4090DB;
  height: 100px;
  width: 100px;
  margin: 60px auto 40px;
  position: relative;
  display: table;
  border: 2px solid #fff;
  border-radius: 50%;
  :hover {
    border: 1px solid #fff;
    border-radius: 50%;
  }
}

#load_more {
  display: table-cell;
  font-size: 16px;
  text-transform: uppercase;
  line-height: 1em;
  padding: 0px 9px;
  vertical-align: middle;
  text-decoration: none;
  color: #fff;
  &:hover {
    background-color: rgba(225, 225, 225, 0.6);
  }
}